In [2]:
import pandas as pd
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.frequent_patterns import apriori, association_rules

dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

oht = OnehotTransactions()
oht_array = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_array, columns=oht.columns_)

df.head()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1,0,1,1,1,1,0,1
1,0,0,1,1,0,1,0,1,1,0,1
2,1,0,0,1,0,1,1,0,0,0,0
3,0,1,0,0,0,1,1,0,0,1,1
4,0,1,0,1,1,1,0,0,1,0,0

In [3]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       [Eggs]
1       1.0               [Kidney Beans]
2       0.6                       [Milk]
3       0.6                      [Onion]
4       0.6                     [Yogurt]
5       0.8         [Eggs, Kidney Beans]
6       0.6                [Eggs, Onion]
7       0.6         [Kidney Beans, Milk]
8       0.6        [Kidney Beans, Onion]
9       0.6       [Kidney Beans, Yogurt]
10      0.6  [Eggs, Kidney Beans, Onion]

In [4]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       [Eggs]       1
1       1.0               [Kidney Beans]       1
2       0.6                       [Milk]       1
3       0.6                      [Onion]       1
4       0.6                     [Yogurt]       1
5       0.8         [Eggs, Kidney Beans]       2
6       0.6                [Eggs, Onion]       2
7       0.6         [Kidney Beans, Milk]       2
8       0.6        [Kidney Beans, Onion]       2
9       0.6       [Kidney Beans, Yogurt]       2
10      0.6  [Eggs, Kidney Beans, Onion]       3

In [5]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

              antecedants            consequents  support  confidence  lift
0                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
1                (Yogurt)         (Kidney Beans)      0.6        1.00  1.00
2                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
4                  (Eggs)                (Onion)      0.8        0.75  1.25
5          (Kidney Beans)                 (Eggs)      1.0        0.80  1.00
6                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
7   (Kidney Beans, Onion)                 (Eggs)      0.6        1.00  1.25
8    (Kidney Beans, Eggs)                (Onion)      0.8        0.75  1.25
9           (Eggs, Onion)         (Kidney Beans)      0.6        1.00  1.00
10                (Onion)   (Kidney Beans, Eggs)      0.6        1.00  1.25
11                 (Eggs)  (Kidney Beans, Onion)      0.8        0.75  1.25

In [6]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.25)
rules

             antecedants           consequents  support  confidence  lift
0                (Onion)                (Eggs)      0.6         1.0  1.25
1  (Kidney Beans, Onion)                (Eggs)      0.6         1.0  1.25
2                (Onion)  (Kidney Beans, Eggs)      0.6         1.0  1.25

In [7]:
rules["antecedant_len"] = rules["antecedants"].apply(lambda x: len(x))
rules

,antecedants,consequents,support,confidence,lift,antecedant_len
0,(Onion),(Eggs),0.6,1.0,1.25,1
1,"(Kidney Beans, Onion)",(Eggs),0.6,1.0,1.25,2
2,(Onion),"(Kidney Beans, Eggs)",0.6,1.0,1.25,1

In [8]:
rules[(rules['antecedant_len'] >= 2) & (rules['confidence'] > 0.75) &(rules['lift'] > 1.2)]

,antecedants,consequents,support,confidence,lift,antecedant_len
1,"(Kidney Beans, Onion)",(Eggs),0.6,1.0,1.25,2